
.container
  .row

    %h1 Participants

    .col-md-6
      %br
      - @participants.each do |participant|
        %strong= participant.name
        %strong= participant.surname
        \-- from
        %td= participant.group.name
        .btn-group.pull-right
          = link_to 'Show', participant, class: "btn btn-default"
          = link_to 'Edit', edit_participant_path(participant), class: "btn btn-warning"
          = link_to 'Destroy', participant, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
        .clearfix

  .row
    = link_to 'New Participant', new_participant_path, class: "btn btn-success pull-right"
